# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Virtual environments
.venv/
venv/
.env/
*.env
*.env.*

# Configurations
.vscode/

# Git
.git/
.gitignore

# Docker
Dockerfile~
docker-compose.yml

# MacOS stuff
.DS_Store

# Directories and files without impact on production
.ruff_cache/
milvus/
notebooks/
tokens/
uploads/
volumes/
LICENSE
README.md
Makefile
*.key
*.pem