[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pytz = "*"
redis = "*"
langchain = "*"
langgraph = "*"
langchain-openai = "*"
langchain-google-community = {extras = ["gmail"], version = "*"}
langchain-redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
